<nav>
    <!--TODO-->
    <a href="https://webpages.charlotte.edu/amedin12">Charlotte Webpages</a>
    <a href="https://github.com/Amedi13" target="_blank">GitHub</a>
    <a href="https://github.com/Amedi13/Amedi13.github.io" target="_blank">GitHub.io</a>
    <a href="https://www.freecodecamp.org/fcc8cbcfdc5-7ca3-460e-ad8a-4e4aad55f05b" target="_blank">freecodeCamp</a>
    <a href="https://www.codecademy.com/profiles/tag0837818808" target="_blank">Codecademy</a>
    <a href="https://www.linkedin.com/in/asael-medina-401134294/" target="_blank">LinkedIn</a>

    <p>Designed by <a href="medinaenterprises.com/"> &copy Medina Enterprises 2025</a></p>
</nav>