<footer>
    <nav>
        <!--TODO-->
        <a href="/">Charlotte Webpages</a>
        <a href="https://github.com/Amedi13" target="_blank">GitHub</a>
        <a href="https://amedi13.github.io/" target="_blank">GitHub.io</a>
        <a href="https://www.freecodecamp.org/fcc8cbcfdc5-7ca3-460e-ad8a-4e4aad55f05b" target="_blank">freecodeCamp</a>
        <a href="https://www.codecademy.com/profiles/tag0837818808" target="_blank">Codecademy</a>
        <a href="https://www.linkedin.com/in/asael-medina-401134294/" target="_blank">LinkedIn</a>
        
    </nav>
</footer>